body {
  margin: 0;
  font-family: Arial;
  background: #f3f6fb;
  color: #333;
}
header {
  background: #ff934a;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}
.logo {
  width: 60px;
  height: auto;
  margin-right: 15px;
}
main {
  max-width: 600px;
  margin: 30px auto;
}
.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input {
  width: 90%;
  padding: 12px;
}
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
}
button {
  width: 100%;
  padding: 14px;
  background: #ff934a;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
}
.resultado {
  margin-top: 20px;
  padding: 15px;
  display: none;
  background: #eaf1ff;
  border-left: 5px solid #ff934a;
}
footer {
  text-align: center;
  padding: 20px;
  color: #666;
}
